@model TP3.Models.Customer
@{
    ViewData["Title"] = "Details Customer";
}


    <div class="container mt-5">
        <h2 class="mb-4">Customer Details</h2>

        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.Id</dd>

            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Offre</dt>
            <dd class="col-sm-9">@Model.MembershiptypeID</dd>
        </dl>

        <a href="#" class="btn btn-primary" onclick="history.go(-1);">Back</a>
    </div>

    
